/* Styles for Mobile devices */
.container {
  max-width: 1440px; /* Ширина як у Desktop макета */
  margin: 0 auto;    /* Центрування всього сайту */
  padding: 0 20px;   /* Відступи, щоб текст не лип до країв екрана */
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
